# Ignore vim tmp files created after symlinking
home/.config/*

!home/.config/tmux

!home/.config/nvim
home/.config/nvim/tmp/swap/*
home/.config/nvim/tmp/backup/*
home/.config/nvim/tmp/undo/*
home/.config/nvim/plugin/packer_compiled.lua

# Python bytecode from running the plugins
__pycache__/
