! Colors
! Special colors
*.foreground: #ABB2BF
*.background: #1E2127
*.cursorColor: #5C6370
! black
*.color0: #1E2127
*.color8: #4C6370
! red
*.color1: #E06C75
*.color9: #E06C75
! green
*.color2: #98C379
*.color10: #98C379
! yellow
*.color3: #D19A66
*.color11: #D19A66
! blue
*.color4: #61AFEF
*.color12: #61AFEF
! magenta
*.color5: #C678DD
*.color13: #C678DD
! cyan
*.color6: #56B6C2
*.color14: #56B6C2
! white
*.color7: #ABB2BF
*.color15: #FFFFFF

! Font
! Use fallback font for missing powerline glyphs
URxvt.font: xft:Inconsolata\ for\ Powerline:pixelsize=15:antialias=true,xft:DejaVu\ Sans\ Mono\ for\ Powerline-10
!URxvt.font: xft:Termsynu:pixelsize=11
URxvt.letterSpace: 1

! Disable scrollbar
URxvt.scrollBar: false
URxvt.scrollBar_right: false

! Make sure locale is set
URxvt.imLocale: da_DK.utf8

! Rebind urxvt ISO 14755 keybind
URxvt.iso14755: false
URxvt.iso14755_52: false

! Keybindings
! Allow pasting
Urxvt.keysym.Shift-Control-V: eval:paste_clipboard
Urxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! Styling
URxvt.highlightSelection: true
URxvt.transparent: true
URxvt.blurRadius: 6
URxvt.shading: 30

! internal padding
URxvt.internalBorder: 10
