[alias]
  d = diff
  s = status
  cm = commit -m
  c = commit
  a = add
  co = checkout
  ls = log --pretty=format:"%C(yellow)%h%C(green)%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate
	upstream = !git push -u origin HEAD
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[pull]
  rebase = true
[user]
	email = 562749+Evilbits@users.noreply.github.com
	name = Rasmus Reiler
