[user]
  email = rasmusbreiler@gmail.com
  name = Rasmus
[alias]
  d = diff
  s = status
  cm = commit -m
  a = add
  co = checkout
  ls = log --pretty=format:"%C(yellow)%h%C(green)%d\\ %Creset%s%C(cyan)\\ [%cn]" --decorate
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[pull]
  rebase = true
